@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body{
  margin:0;
  color: #fff;
  background: #333;
  overflow: hidden;
}

.landing{
position: relative;
  background-image: url('https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fca9e6a2a8014833da160e32bdae0437&auto=format&fit=crop&w=2089&q=80');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing-inner{
  transform: translate(0%, 30%);
}

.countdown{
  font-size:21px;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown div{
  color:white;
  padding: 15px;
  margin: 5px;
/*   border: 1px solid white; */
  border-radius: 10px;
  background: #6E8898;
  opacity: 0.8;
}

.countdown div:first-child{
  background:#17a2b8;
}

/* Titles - Hour/min/secs */
.countdown span{
  display:block;
  font-size: 14px;
}

@media(max-width: 450px){
  .countdown{
    font-size: 30px;
    flex-direction: column;
  }
  .countdown div{
    display: none;
  }
  
  .countdown div:first-child{
    display: block;
    width: 80%;
  }
}

.logo {
    display: block;
    padding-top: 15px;
    height: 60px;
    margin: 0 auto;
    
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 
  line-height: 70px;
  background-color: rgba(67, 126, 197, 0.2);
}

.modalHeadBg{
background-color: #3C3C3C;
}

.modalbodybg{
background-color: #0FA3B1;
color:white;
font-size:18px;
    
}